<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1 (4<sup>th</sup> October 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td colspan="2"><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>11:45</td>        <!-- time    -->
        <td colspan="2"><i>Virtual arrivals</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:00</td>        <!-- time    -->
        <td>Welcome and introduction to the course</td>        <!-- content -->
        <td>Salvador Capella-Gutierrez</td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:05</td>        <!-- time    -->
        <td>Participants' introductions, perspectives, challenges and expectations</td>        <!-- content -->
        <td>Cath Brooksbank</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:00</td>        <!-- time    -->
        <td>Keynote: "How Core facilities have evolved?"</td>        <!-- content -->
        <td>Alfonso Valencia</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:30</td>        <!-- time    -->
        <td>Keynote: "Juggling research and services in bioinformatics"</td>        <!-- content -->
        <td>Alexandre Bonvin</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td colspan="2">Lunch break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:20</td>        <!-- time    -->
        <td colspan="2">Settle back in</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ page.root }}{% link _episodes/D1S5WhiteheadInstitute.md %}">Whitehead Institute as an established bioinformatics core facility</a></td>        <!-- content -->
        <td>George Bell</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>16:00</td>        <!-- time    -->
        <td><a href="{{ page.root }}{% link _episodes/D1S6SpectrumExercise.md %}">Spectrum exercise</a></td>        <!-- content -->
        <td>Andrew Hercules, Vera Matser and George Bell</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>17:30</td>        <!-- time    -->
        <td colspan="2"><i>End of day 1</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2 (5<sup>th</sup> October 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11.50</td>        <!-- time    -->
        <td colspan="2"><i>Day briefing</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="{{ page.root }}{% link _episodes/D2S1ServiceDesign.md %}">The service design process</a></td>        <!-- content -->
        <td>Vera Matser and Andrew Hercules</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td colspan="2">Lunch break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:20</td>        <!-- time    -->
        <td colspan="2">Settle back in</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:30</td>        <!-- time    -->
        <td>Designing and establishing core's technology needs</td>        <!-- content -->
        <td>Brent Richter, Michael Stadler and Ezgi Karaca</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:30</td>        <!-- time    -->
        <td>Estimating your compute and storage needs - practical</td>        <!-- content -->
        <td>Michael Stadler and Ezgi Karaca</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>17:30</td>        <!-- time    -->
        <td colspan="2"><i>End of day 2</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3 (6<sup>th</sup> October 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11.50</td>        <!-- time    -->
        <td colspan="2"><i>Day briefing</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td>Costing up staff and compute requirements</td>        <!-- content -->
        <td>Sarah Butcher</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td>Costing up a new service and providing costs for major projects (practical)</td>        <!-- content -->
        <td>Sarah Butcher</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td colspan="2">Lunch break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:20</td>        <!-- time    -->
        <td colspan="2">Settle back in</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:30</td>        <!-- time    -->
        <td><a href="{{ page.root }}{% link _episodes/D3S3DMDS.md %}">Data management and stewardship</a></td>        <!-- content -->
        <td>Rob Hooft and Celia van Gelder</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>16:30</td>        <!-- time    -->
        <td>Open discussion: strategies to manage your data from a logical and physical perspective</td>        <!-- content -->
        <td>Rob Hooft, Michael Stadler, Ezgi Karaca and Jordi Rambla</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>17:30</td>        <!-- time    -->
        <td colspan="2"><i>End of day 3</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4 (7<sup>th</sup> October 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>12.20</td>        <!-- time    -->
        <td colspan="2"><i>Day briefing</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:30</td>        <!-- time    -->
        <td>Sustainability models - how to finance your core facility</td>        <!-- content -->
        <td>Alex Sanchez</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:30</td>        <!-- time    -->
        <td>Core facilities close to healthcare - challenges and opportunities</td>        <!-- content -->
        <td>Sheila Zuñiga, Brent Richter and Sarah Butcher</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:30</td>        <!-- time    -->
        <td colspan="2">Lunch break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>15:50</td>        <!-- time    -->
        <td colspan="2">Settle back in</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>16:00</td>        <!-- time    -->
        <td>Working with sensitive data: Ethical, Legal, and Social considerations</td>        <!-- content -->
        <td>Pilar Nicolas, Brent Richter, Jordi Rambla and Michaela Th. Mayrhofer</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>17:00</td>        <!-- time    -->
        <td colspan="2"><i>End of day 4</i></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 5 (8<sup>th</sup> October 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>11.50</td>        <!-- time    -->
        <td colspan="2"><i>Day briefing</i></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>12:00</td>        <!-- time    -->
        <td>Semi structured breakout</td>        <!-- content -->
        <td>Salvador Capella-Gutierrez and Eva Alloza with course faculty members</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>13:00</td>        <!-- time    -->
        <td>Revisit challenges and expectations. Select topic for post-course session. Wrap up and feedback</td>        <!-- content -->
        <td>Salvador Capella-Gutierrez and Eva Alloza</td>        <!-- trainer(s) -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>14:00</td>        <!-- time    -->
        <td><i>End of course</i></td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Post-course session (17<sup>th</sup> November 2021)</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>16:00</td>        <!-- time    -->
        <td>Selected topic by participants (TBD)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>18:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
