<div>
  <a class ="footer-logo-link" href="https://www.embo.org/"><img class="footer-logo" src="{{'assets/images/logos/embo.png' | relative_url }}" alt="EMBO"></a>
  <a class ="footer-logo-link" href="https://www.embopress.org/journal/17444292"><img class="footer-logo" src="{{'assets/images/logos/embopress.png' | relative_url }}" alt="Molecular Systems Biology"></a>
  <br />
  <a class ="footer-logo-link" href="https://www.bsc.es/"><img class="footer-logo" src="{{'assets/images/logos/bsc.jpg' | relative_url}}" alt="Barcelona Supercomputer Center"></a>
  <a class ="footer-logo-link" href="https://www.ebi.ac.uk/"><img class="footer-logo" src="{{'assets/images/logos/embl_ebi.jpg' | relative_url}}" alt="EMBL-EBI"></a>
  <a class ="footer-logo-link" href="https://www.ibg.edu.tr/"><img class="footer-logo" src="{{'assets/images/logos/ibg_ek.jpg' | relative_url}}" alt="Izmi Biomedicine and Genome Center"></a>
  <a class ="footer-logo-link" href="https://www.incliva.es/servicios/plataformas/unidad-de-bioinformatica-y-bioestadistica/"><img class="footer-logo" src="{{'assets/images/logos/incliva_health_inv.png' | relative_url}}" alt="INCLIVA Research Institute"></a>
  <br />
  <a class ="footer-logo-link" href="https://inb-elixir.es/"><img class="footer-logo" src="{{'assets/images/logos/inb_elixir_es.jpg' | relative_url}}" alt="Spanish National Bioinformatics Institute"></a>
  <a class ="footer-logo-link" href="https://inb-elixir.es/transbionet"><img class="footer-logo" src="{{'assets/images/logos/transbionet.jpg' | relative_url}}" alt="Translational Bioinformatics Network"></a>
  <a class ="footer-logo-link" href="https://elixir-europe.org/about-us/how-funded/eu-projects/converge"><img class="footer-logo" src="{{'assets/images/logos/converge.png' | relative_url}}" alt="ELIXIR-Converge"></a>
</div>
{%- if site.footer_content -%}
  <p class="text-small text-grey-dk-100 mb-0">{{ site.footer_content }}</p>
{%- endif -%}
